.item {
  height: 45vh;
  width: 60vh;
}
.smaller {
  max-height: 40vh;
  min-height: 40vh;
  max-width: 50vh;
  min-width: 50vh;
}

.smaller:hover {
  max-height: 40vh;
  min-height: 40vh;
  max-width: 50vh;
  min-width: 50vh;
  border: 4px solid red;
}

.medium {
  height: 70vh !important;
}

.blank {
  height: 10px;
}

.center {
  text-align: center;
  color: blue;
}

.left {
  padding-top: 40vh;
  max-width: 100px;
  max-width: 100px;
  min-height: 80px;
}

.right {
  padding-top: 40vh;
  max-width: 100px;
  max-width: 100px;
}

.navbar {
  background-color: silver;
  border-bottom: 2px solid blue;
}

.score {
  font-size: 30px;
  margin-bottom: 0px;
}

.score_number {
  font-size: 30px;
}

.comm {
  border-bottom: 1px solid silver;
}

.over {
  border: 2px solid red;
}

.resize-btn {
  width: 40px !important;
}
