{% extends 'base.html' %}
{% block content %}

<div class="row">
<div class="col-md-3">
  {% if left %}
  <img class="left" src="{{ MEDIA_URL }}{{ left.image_url }}" alt="" />
  {% endif %}
</div>
<div class="col-md-6">
  <div class="center">
    {% if left %}
    <a href="{% url 'image_detail_view' prev_page %}">PREV</a> |
    {% endif %}
    {% if right %}
    <a href="{% url 'image_detail_view' next_page %}">NEXT</a>
    {% endif %}
  </div>
  <h2 class="center">{{ image.title }}</h2>
  <div class="thumbnail">
  <img class="medium" src="{{ MEDIA_URL }}{{ image.image_url }}" alt="" />
  {% if request.auth.user == image.user %}
 <a href="{% url 'image_update_view' image.id %}">Edit</a>
 {% endif %}
 </div>
 <div class="row blank"></div>
 <div class="row">
   <div class="col-md-3">
   </div>
   <br>
   {% for x in comms %}
   {{ x.body }}-{{ x.user }}<hr>
   {% endfor %}


   <form class="" action="{%  url 'comment_create_view' image.id %}" method="post">
         {% csrf_token %}
          <input type="text" name="body" value="">
          <input type="submit" name="" value="Submit">
        </form>


 </div>
</div>
<div class="col-md-2">

</div>
<div class="col-md-1">
  <img class="right" src="{{ MEDIA_URL }}{{ right.image_url }}" alt="" />
</div>

</div>





{% endblock %}
