{% extends 'base.html' %}
{% block content %}

<!-- <div style="width: 80px; height: 20px; background-color: red;"
        onmouseover="document.getElementById('div1').style.display = 'block';"
        onmouseout="document.getElementById('div1').style.display = 'none';">
   <div id="div1" style="display: none;">Text</div>
</div> -->

{% if is_paginated %}
  <nav>
    <ul class="pagination">
      {% if page_obj.has_previous %}
        <li>
          <a href="?page={{ page_obj.previous_page_number }}">
            <span>Previous</span>
          </a>
        </li>
      {% else %}
        <li class="disabled">
          <a href="#">
            <span>Previous</span>
          </a>
        </li>
      {% endif %}

      {% for page in paginator.page_range %}
        <li {% if page == page_obj.number %}class="active"{% endif %}>
          <a href="?page={{ page }}">{{ page }}</a>
        </li>
      {% endfor %}

      {% if page_obj.has_next %}
        <li>
          <a href="?page={{ page_obj.next_page_number }}">
            <span>Next</span>
          </a>
        </li>
      {% else %}
        <li {% if not page_obj.has_next %}class="disabled"{% endif %}>
          <a href="#">
            <span>Next</span>
          </a>
        </li>
      {% endif %}
    </ul>
</nav>
{% endif %}

<div class="row">
{% for x in object_list %}
<div class="col-sm-4 item">

<div class="">
  <a href="{% url 'image_detail_view' x.id %}">
<img class="smaller" src="{{ MEDIA_URL }}{{ x.image_url }}" alt="" /></a>
</div>
</div>
{% endfor %}
<hr>


</div>
{% endblock %}
