{% extends 'base.html' %}
{% block content %}

<div class="row">
<div class="col-md-3">
<br>
  <img class="left" src="{{ MEDIA_URL }}{{ left_obj.image_url }}" alt="" />

</div>
<div class="col-md-6">
  <div class="center">
    <a href="{% url 'image_detail_view' left_obj.id %}">PREV</a> |
    <a href="{% url 'image_detail_view' right_obj.id %}">NEXT</a>

  </div>
  <h2 class="center">{{ image.title }}</h2>
  <div class="thumbnail">
  <img class="medium" src="{{ MEDIA_URL }}{{ image.image_url }}" alt="" />
  {% if request.auth.user == image.user %}
 <a href="{% url 'image_update_view' image.id %}">Edit</a>
 {% endif %}
 <div class="desc">
   {{ image.description }}
 </div>
 </div>
 <div class="row blank"></div>

 <div class="row">
   <div class="col-md-3">
   </div>
   <br>
   {% for x in comms %}
   {{ x.body }}-{{ x.user }}<hr>
   {% endfor %}


   <form class="" action="{%  url 'comment_create_view' image.id %}" method="post">
         {% csrf_token %}
          <input type="text" name="body" value="">
          <input type="submit" name="" value="Submit">
        </form>


 </div>
</div>
<div class="col-md-2">

</div>
<div class="col-md-1">
<br>
  <img class="right" src="{{ MEDIA_URL }}{{ right_obj.image_url }}" alt="" />

</div>

</div>


{% endblock %}
